:root {
    --vermelho: #E50914;
    --preto: #040506;
    --cinza: #ffffffc9;
    --branco-nav: #B3B3B3;
    --hover-nav: #E5E5E5;
    --descricao: #ffffff;
    --branco: white;
    --botao-cinza: #6d6d6eb3;
    --botao-cinza-hover: #6d6d6e;
    @font-face {
        font-family: 'Netflix-Sans';
        font-weight: 100;
        font-display: optional;
        src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--preto);
}

a,
li {
    text-decoration: none;
}


/*DIV REPONSAVEL PELO HEADER */

.navbar,
.navbar-expand-lg {
    height: 10vh;
    width: 100vw;
    background-color: var(--preto);
}


/* Indices/redirecionadores Header */

.nav-link {
    font-weight: 450;
    color: var(--branco);
    text-decoration: none;
}

.nav-link:visited {
    color: var(--branco);
}


/* Texto "Netflix" */

.navbar-brand {
    color: var(--vermelho);
    margin-left: 3vw;
}

.navbar-brand:hover {
    color: var(--vermelho);
}


/* Icones header */

#navbarNav-right {
    position: absolute;
    right: 13vw;
}

.icone-header {
    display: flex;
    align-items: center;
    color: var(--branco);
    margin-left: 15px;
}

.nav-link {
    color: var(--branco-nav);
    font-size: 14px;
}

.nav-link:hover {
    color: var(--hover-nav);
}


/* Setinha header */

.seta {
    transform: rotate(90deg);
    color: var(--branco);
    margin-left: 5px;
}

.seta:hover {
    transform: rotate(270deg);
}


/* Imagem do perfil do usuario header */

.img-nav {
    width: 30px;
    margin-left: 10px;
}


/* Carrossel */

.carousel-inner {
    position: relative;
}

.d-block,
.w-100 {
    width: 100vw;
    height: 90vh;
}


/* div do titulo e texto */

.carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 30vh;
    left: 4%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--descricao);
    text-align: left;
}

.titulo {
    font-size: 4vw;
}

.descricao {
    width: 600px;
    font-size: 21px;
}


/* Botoes carrossel */

.div-botao {
    position: absolute;
    top: 70%;
    left: 5%;
    display: inline-flex;
}

.botao {
    padding: 5px 20px;
    color: gray;
    border-radius: 5px;
    border: none;
    font-style: normal;
    font-size: 18px;
    font-stretch: 0px;
    font-weight: 600;
}

.div-assistir {
    margin-right: 10px;
}

#assistir {
    color: var(--preto);
    background-color: var(--branco);
}

#assistir:hover {
    background-color: var(--hover-nav);
}

#mais {
    background-color: var(--botao-cinza);
    color: var(--branco);
}

#mais:hover {
    background-color: var(--botao-cinza-hover);
}

.icone-botao {
    margin-right: 10px;
}