:root {
    --vermelho: #E50914;
    --preto: #171717;
    --branco: white;
    --cinza: #ffffffc9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--preto);
}

.navbar,
.navbar-expand-lg {
    height: 10vh;
}

.navbar {
    background-color: var(--preto);
    width: 100%;
}

.navbar-brand {
    color: var(--vermelho);
    margin-left: 3vw;
}

.navbar-brand:hover {
    color: var(--vermelho);
}

.nav-link {
    color: var(--branco);
}

.nav-link:hover {
    color: var(--cinza);
}

.nav-item>a>img {
    margin: 10px;
}

.img-nav {
    width: 35px;
    margin: auto;
}

a>img#rotated {
    transform: rotate(-90deg);
    width: 10px;
    margin: 0;
    margin-top: 20px;
}

#rotated:hover {
    transform: rotate(90deg);
}

.d-block,
.w-100 {
    width: 100vw;
    height: 90vh;
}

.carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 20vh;
    left: 4%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left;
}

.titulo {
    font-size: 4vw;
}

.descricao {
    width: 600px;
    font-size: 21px;
}